* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: 0, 0%, 7%;
	--secondary: 0, 0%, 100%;
	--muted: 0, 0%, 43%;
	--accent: 0, 0%, 21%;
	--danger: 0, 67%, 51%;
	--sucess: 147, 68%, 50%;
	--warning: 46, 68%, 50%;
	--info: 217, 68%, 50%;
}

@font-face {
	font-family: 'Poppins';
	src: url('assets/fonts/poppins/poppins-400.woff2');
	src:
		url('assets/fonts/poppins/poppins-400.woff2') format('woff2'),
		url('assets/fonts/poppins/poppins-600.woff2') format('woff2');
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	min-height: 100svh;
	background-color: hsl(var(--primary));
	color: hsl(var(--secondary));
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
